.con1header {
  font-size: 10px;
  padding: 4em;
}

.items_img img {
  width: 30%;
  border-radius: 7px;
}

.items_img img:hover {
  box-shadow: 3px 3px 35px 3px rgb(224, 224, 224);
  transition: 0.3s;
}

.filter{
 
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.filter1a{
  /* padding: 20px; */
  flex: 1 1 300px;
 
}


@media screen and (max-width: 768px) {
  .filter1a {
    flex: 1 1 100%; 
  }
}